include header

div(class='wrap')
	div(class='content')
		header(class='site-header')
			include site_header
			
		div(class='container')
			div(class='row')
				div(class='col col-md-12')
					div(class="row")
						h2(class="panel-title") #{goods[0]['name']}
						h2(class="pannel-title shop-name-card") [#{goods[0]['shop_id']}]
				div(class="col col-md-4")
					img(
						src="images/"+goods[0]['photo']
						class="goods-big-images"
					)

				div(class="col col-md-8")
					p #{goods[0]['description']}
					span(class="success") Цена: #{goods[0]['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} ₽
					p
					div(class='container')
						div(class="section") 
							button(
								class='button button-primary add-to-cart'
								data-goods_id=goods[0]['id']
							) В корзину
							h2 Lo

		include nav.pug
	include footer.pug


