html
    head
        script(
          src="https://code.jquery.com/jquery-2.1.4.min.js"
        )
        script(
          src="javascripts/pagination.js"
        )
        meta(charset='utf-8')
        meta(
          name='viewport'
          content='width=device-width, initial-scale=1.0'
        )
        meta(
          http-equiv='X-UA-Compatible'
          content="ie=edge"
        )
        meta(
          property='vk:image' 
          content="https://sun9-70.userapi.com/impf/E8YA9Z6kLkbgZk_s9GfulARA4SIuzzhExBENKg/i544mZoOots.jpg?size=1074x480&quality=96&sign=a68cda90da349f8ecf447f69f22640fc&type=album"
          )
        meta(
          name="yandex-verification"
          content="15b8da5ce90d0dfd"
        )
        link(
          rel='stylesheet'
          href='stylesheets/mustard-ui.min.css'
        )
        link(
          rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
          crossorigin="anonymous"
        )
        link(
          rel='stylesheet'
          href='stylesheets/style.css'
        )
        link(
          type="text/css"
          rel="stylesheet"
          href="stylesheets/simplePagination.css"
        )
        link(
          rel='icon'
          href='site/chibi-face.png'
        )
        title Anishopu
    body
